<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kubernetes Demo Application</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Kubernetes Demo Application</h1>
        <h2>Server Information</h2>
        <ul>
            <li><strong>Hostname:</strong> {{ .ServerInfo.Hostname }}</li>
            <li><strong>IP Address:</strong> {{ .ServerInfo.IP }}</li>
            <li><strong>Operating System:</strong> {{ .ServerInfo.OS }}</li>
            <li><strong>Go Version:</strong> {{ .ServerInfo.GoVersion }}</li>
            <li><strong>CPU Count:</strong> {{ .ServerInfo.CPUs }}</li>
            <li><strong>Environment Variables:</strong></li>
            <ul>
                {{ range .ServerInfo.Env }}
                <li>{{ . }}</li>
                {{ end }}
            </ul>
        </ul>
        <p>Below is a list of available endpoints in the application:</p>

        <ul class="endpoint-list">
            {{ range $path, $desc := .Endpoints }}
            <li class="endpoint-item">
                <a href="{{ $path }}" class="endpoint-link" target="_blank">{{ $path }}</a>
                <div class="endpoint-description">{{ $desc }}</div>
            </li>
            {{ end }}
        </ul>
    </div>

    <footer>
        &copy; {{ .Year }} Kubernetes Demo Application by <a href="https://kielniakodu.com" target="_blank" rel="nofollow noopener noreferrer">Kielnia Kodu</a>
    </footer>
</body>
</html>